

.app-link {
   margin-bottom: 1rem;
}
.logout {
    margin-top: 2rem;
    background-color: bisque;
    font-weight: bold;
}

.joke-box {
    display: flex;
    flex-direction: column;
}

.joke-form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 20rem;
}
.form-input {
    margin-top: 1rem;
}
.submit-joke {
    margin-top: 1rem;
}
.read-jokes {
    margin-top: 2rem;
}
.joke-par-text {
    white-space: pre-wrap;

}
.single-joke {
    margin-top: 0.5rem;
    padding: 0.1rem;
    width: 50vw;
}
.read-jokes-btn {
    margin-top: 1rem;
}
.single-joke > h4 {
    margin: 0
}
.single-joke > p {
    margin: 0
}
.innerDiv-joke {
    display: flex;
}
textarea {
    padding: 0.4rem;
    resize: none;
}

.choreWheel {
    background-color: beige;
    padding: 1rem;

}
.chore-display-btn {
    margin-top: 0.5rem;
}

.display-weeklyChore-btn {
    background-color: bisque;
    font-weight: bold;
}

.weekly-chores-container {
    border-bottom: 2px dotted black;
    padding: 1rem;
    margin-bottom: 1.4rem;
    opacity: 0.4;
}

.weekly-chores-container:first-child {
   background-color: azure;
   font-weight: bold;
   opacity: 1;
}
.weekly-chores-container:hover {
    opacity: 1;
}

.reload-btn {
    background-color: orange;
    font-weight: bold;
}