

.app-link {
   margin-bottom: 1rem;
}
.logout {
    margin-top: 2rem;
}

.joke-box {
    display: flex;
    flex-direction: column;
}

.joke-form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 20rem;
}
.form-input {
    margin-top: 1rem;
}
.submit-joke {
    margin-top: 1rem;
}
.read-jokes {
    margin-top: 2rem;
}
.joke-par-text {
    white-space: pre-wrap;

}
.single-joke {
    margin-top: 0.5rem;
    padding: 0.1rem;
    width: 50vw;
}
.read-jokes-btn {
    margin-top: 1rem;
}
.single-joke > h4 {
    margin: 0
}
.single-joke > p {
    margin: 0
}
.innerDiv-joke {
    display: flex;
}
textarea {
    padding: 0.4rem;
    resize: none;
}

